<template>
  <div id="app">
    <search @search="changeMovieResults" />
    <movie-list :movies="movies" />
  </div>
</template>

<script>
import Search from '@/components/Search'
import MovieList from '@/components/MovieList'

export default {
  name: 'app',
  components: {
    Search,
    MovieList
  },
  data () {
    return {
      movies: []
    }
  },
  methods: {
    changeMovieResults (results) {
      this.movies = results
    }
  }
}
</script>

<style>
:root {
  --blue-darkest: #131C25;
  --blue-light: #169CFC;
  --white: #E3E4E5;
  --grey-light: #919191;
  --yellow: #E3B044;
}

html {
  /* 62.5% is equal to 10px. “But why not set font-size: 10px in the html selector then?”.
  Because the user might zoom on the webpage! As px is an absolute value, the browser
  won’t take account of the zoom unlike rem. */
  font-size: 62.5%;
}

body {
  font-family: 'Lato';
  font-weight: 400;
}
</style>

<style lang="scss" scoped>
#app {
  min-height: 100vh;
  padding: 2rem 4rem;
  background-color: var(--blue-darkest);

  @media screen and (max-width: 600px) {
    padding: 1rem 2rem;
  }
}
</style>
